<blockquote class="chute-tweet-loading twitter-tweet" data-import="{{source.import_url}}" lang="en" style="min-height: 200px; min-width: 16%">
    <a href="{{source.import_url}}" target="_blank"></a>
</blockquote>
